@import '../core/variables.scss';

.main {
    padding: 10px;

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;

    }

}