@import '../core/variables';
@import '../core/mixins';


.eacharticle {
    background-color: transparent;
    height: 250px;
    width: 250px;
    border: 1px dotted gray;
    border-radius: 125px / 50%;
    display: flex;

    &__card {

        display: flex;

        &--front,
        &--back {
            height: 250px;
            width: 250px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 125px / 50%;
            padding: 20px;
        }

        &--front {
            text-transform: uppercase;
            background-color: $color-primary3;
            color: $color-primary;
        }

        &--back {
            background-color: $color-primary2;
            color: $color-primary;
        }
    }

    .react-card-flip {
        height: 250px;
        width: 250px;
        border: 1px dotted gray;
        border-radius: 125px / 50%;
    }
}

// .eacharticle:hover .eacharticle__card {
//     transform: rotateY(180deg);
// }