@import '../core/variables';

.header {
    margin: 0;
    height: 40vh;

    background-image: linear-gradient(to bottom, #ffffff80 25%, #000), url("../../images/berlin/berlin-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    &__title {
        padding: 5px;
        color: $color-primary2;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $font-secondary3;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: bold;
    }
}

/* linear-gradient(to bottom, $white-50 25%, $black),  
&--img {}*/