@import '../core/variables';
@import '../core/mixins';

.hidden {
    display: none;
}

.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 50px;

    width: 250px;
    height: 100vh;
    background-color: rgba(82, 82, 82, 0.603);

    &__text {
        text-transform: uppercase;
        text-decoration: none;
        color: white;

        &:hover {
            color: greenyellow;
        }
    }

    &__sm {
        display: flex;
        gap: 30px;

        &--icon {
            color: white;

            &:hover {
                color: greenyellow;
            }
        }
    }
}