<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project detail</title>
    <link rel="stylesheet" href="/main.css" />
    <script src="https://kit.fontawesome.com/b7d13fbbc9.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/favicon.png" />
</head>

<body class="body">
    <header class="header">
        <a class="header__link" href="/" class="link">
            <p class="header__text">
                Final exercise
            </p>
        </a>
        <a class="header__link" href="https://adalab.es/bootcamp-programacion/" target="_blank" rel="noreferrer">
            <img class="header__logo" src="/logo-adalab.png" alt="logo Adalab" />
        </a>
    </header>
    <main class="main">
        <h3 class="title_rec">
            <%= nombre %>
        </h3>
        <p class="title">
            <img class="header__logo" src="/salad.jpeg" alt="logo Adalab" />
        <p class="text_ing">
            <%= ingredientes %>
        </p>
        <p class="text">
            <%= instrucciones %>
        </p>
        </p>

    </main>
    <footer class="footer">
        <a class="footer__link" href="https://adalab.es/bootcamp-programacion/" target="_blank" rel="noreferrer">
            <img class="footer__img" src="/logo-adalab.png" alt="logo Adalab" />
        </a>
    </footer>
</body>

</html>