@import '../core/variables';
@import '../core/mixins';


.bm {


    &-menu {
        position: fixed;
        text-transform: uppercase;
        gap: 30px;
        padding: 50px 30px 0;
        width: 300px;
        height: 100vh;
        background-color: rgba(82, 82, 82, 0.603);
        text-decoration: none;
    }

    &-overlay {
        width: 30%;
    }

    &-item {
        color: white;
        text-decoration: none;
        font-family: $font-main2;

        &:hover {
            color: greenyellow;
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }

    &-cross {
        background: white;
    }
}


.menu {
    &__sm {
        display: flex;
        flex-direction: row;
        gap: 30px;

        &--icon {
            color: white;

            &:hover {
                color: greenyellow;
            }
        }
    }

}